body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 40px;
  margin: 20px 0 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.weather-app {
  max-width: 600px;
  margin: 0 auto;
  border: 5px solid mediumvioletred;
  border-radius: 5px;
  padding: 20px;
}
.current-location {
  padding-left: 10px;
}
.rounded-pink {
  border: 5px solid mediumvioletred;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.fahrenheit {
  font-size: 23px;
}
